application.js
[{"id":"f3d313fc.0c2cf","type":"mongodb2","hostname":"127.0.0.1","port":"27017","db":"containers","name":""},{"id":"9aba662c.654598","type":"catch","name":"","x":1053,"y":99,"z":"8318cd4d.7ce73","wires":[["9b00b352.64ff5","46f2170b.b90de8"]]},{"id":"9b00b352.64ff5","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":1257,"y":101,"z":"8318cd4d.7ce73","wires":[]},{"id":"c491e644.3b6e18","type":"http in","name":"","url":"/activateContainer","method":"post","swaggerDoc":"","x":131,"y":48,"z":"8318cd4d.7ce73","wires":[["db196574.24e698"]]},{"id":"46f2170b.b90de8","type":"http response","name":"","x":1269,"y":34,"z":"8318cd4d.7ce73","wires":[]},{"id":"de102568.21efd8","type":"start","name":"","x":837,"y":57,"z":"8318cd4d.7ce73","wires":[["3583367e.ca7cca","7b12a9d2.84ed58","1169e174.ee961f"]]},{"id":"de64e4a8.219b18","type":"create","name":"","x":838,"y":91,"z":"8318cd4d.7ce73","wires":[["3583367e.ca7cca","7b12a9d2.84ed58","32cfd03e.cd303"]]},{"id":"240f5e01.dbf0a2","type":"inspect","name":"","x":519,"y":47,"z":"8318cd4d.7ce73","wires":[["d5a19f65.2a5e6"]]},{"id":"d5a19f65.2a5e6","type":"switch","name":"","property":"payload.container","rules":[{"t":"eq","v":"Running"},{"t":"eq","v":"Stopped"},{"t":"eq","v":"None"}],"checkall":"true","outputs":3,"x":673,"y":50,"z":"8318cd4d.7ce73","wires":[["3583367e.ca7cca"],["de102568.21efd8"],["de64e4a8.219b18"]]},{"id":"db196574.24e698","type":"function","name":"Validate C & S Tag","func":"var s=msg.payload.S_Tag;\nvar c=msg.payload.C_Tag;\nconsole.log(\"S:\"+s+\" C:\"+c);\nif(s>10)console.log(\"greater\");\nif((s<2)||(s>12)||(c<2)||(c>100)){\n    msg.payload.error=\"S_Tag should be between 2 and 12 and C_Tag should be between 2 and 100\";\n    console.log(msg.payload.error);\n    return [null,msg];\n}else{\n    console.log(\"activating vSG_\"+s+\"_\"+c);\n    return [msg,null];\n}","outputs":"2","noerr":0,"x":340,"y":42,"z":"8318cd4d.7ce73","wires":[["240f5e01.dbf0a2"],["62048a15.9dfb74","c9172e9.f36e8d"]]},{"id":"3583367e.ca7cca","type":"interfaces","name":"","x":1064,"y":32,"z":"8318cd4d.7ce73","wires":[["9b00b352.64ff5","46f2170b.b90de8"]]},{"id":"c9172e9.f36e8d","type":"debug","name":"","active":true,"console":"false","complete":"false","x":686,"y":125,"z":"8318cd4d.7ce73","wires":[]},{"id":"1b07504e.e4f8b","type":"info","name":"","x":210,"y":84,"z":"8318cd4d.7ce73","wires":[["62048a15.9dfb74","c9172e9.f36e8d"]]},{"id":"8a7710d0.7588f","type":"http in","name":"","url":"/info","method":"get","swaggerDoc":"","x":82,"y":85,"z":"8318cd4d.7ce73","wires":[["1b07504e.e4f8b"]]},{"id":"1091129d.ef6eed","type":"listContainers","name":"","x":489,"y":141,"z":"8318cd4d.7ce73","wires":[["c9172e9.f36e8d","a062e9c8.5f9d18"]]},{"id":"ea66fbe1.159908","type":"http in","name":"","url":"/listRunningContainers","method":"get","swaggerDoc":"","x":139,"y":123,"z":"8318cd4d.7ce73","wires":[["f698f11d.09671"]]},{"id":"a062e9c8.5f9d18","type":"http response","name":"","x":781,"y":189,"z":"8318cd4d.7ce73","wires":[]},{"id":"f698f11d.09671","type":"function","name":"all-false","func":"msg.payload.all=false;\n\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":121,"z":"8318cd4d.7ce73","wires":[["1091129d.ef6eed"]]},{"id":"b16fb8c5.4e9048","type":"http in","name":"","url":"/listAllContainers","method":"get","swaggerDoc":"","x":120.5,"y":168,"z":"8318cd4d.7ce73","wires":[["db8920d0.2476e"]]},{"id":"db8920d0.2476e","type":"function","name":"all-true","func":"msg.payload.all=true;\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":166,"z":"8318cd4d.7ce73","wires":[["1091129d.ef6eed"]]},{"id":"fbaedd8b.04512","type":"http response","name":"","x":497,"y":186,"z":"8318cd4d.7ce73","wires":[]},{"id":"f5292085.0ad6e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":634,"y":219,"z":"8318cd4d.7ce73","wires":[]},{"id":"d2dba386.2d246","type":"http in","name":"","url":"/deactivateContainer","method":"post","swaggerDoc":"","x":136.5,"y":209,"z":"8318cd4d.7ce73","wires":[["bf8c844e.407378","10c55f42.ef3aa1","2103c01e.defc4"]]},{"id":"bf8c844e.407378","type":"stop","name":"","x":330,"y":210,"z":"8318cd4d.7ce73","wires":[["f5292085.0ad6e","fbaedd8b.04512"]]},{"id":"d02a803c.2fd58","type":"http in","name":"","url":"/stats","method":"post","swaggerDoc":"","x":91,"y":247,"z":"8318cd4d.7ce73","wires":[["1ae91cc4.e516e3"]]},{"id":"22bea33e.dd415c","type":"http response","name":"","x":596,"y":315,"z":"8318cd4d.7ce73","wires":[]},{"id":"1ae91cc4.e516e3","type":"stats","name":"","x":249,"y":250,"z":"8318cd4d.7ce73","wires":[["f5292085.0ad6e","22bea33e.dd415c"]]},{"id":"4fad687a.b05298","type":"ifconfig","name":"","x":249,"y":287,"z":"8318cd4d.7ce73","wires":[["f5292085.0ad6e","22bea33e.dd415c"]]},{"id":"91bd8a44.6e4278","type":"http in","name":"","url":"/ifconfig","method":"post","swaggerDoc":"","x":96,"y":285,"z":"8318cd4d.7ce73","wires":[["4fad687a.b05298"]]},{"id":"632130d3.9cded","type":"http in","name":"","url":"/logs","method":"post","swaggerDoc":"","x":88,"y":324,"z":"8318cd4d.7ce73","wires":[["c646048a.39b9f8"]]},{"id":"c646048a.39b9f8","type":"logs","name":"","x":250,"y":325,"z":"8318cd4d.7ce73","wires":[["22bea33e.dd415c","f5292085.0ad6e"]]},{"id":"71599825.8ea668","type":"http in","name":"","url":"/exec","method":"post","swaggerDoc":"","x":91,"y":362,"z":"8318cd4d.7ce73","wires":[["40ca39bc.bf35c8"]]},{"id":"40ca39bc.bf35c8","type":"execute","name":"","x":248,"y":361,"z":"8318cd4d.7ce73","wires":[["22bea33e.dd415c","f5292085.0ad6e"]]},{"id":"31fbc3ef.ce043c","type":"inspect","name":"","x":382,"y":394,"z":"8318cd4d.7ce73","wires":[["22bea33e.dd415c","f5292085.0ad6e"]]},{"id":"2daded98.d25212","type":"http in","name":"","url":"/inspect","method":"post","swaggerDoc":"","x":96,"y":400,"z":"8318cd4d.7ce73","wires":[["fc1661de.03e9a"]]},{"id":"fc1661de.03e9a","type":"function","name":"","func":"msg.payload.fullStatus=true;\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":399,"z":"8318cd4d.7ce73","wires":[["31fbc3ef.ce043c"]]},{"id":"62048a15.9dfb74","type":"http response","name":"","x":677,"y":91,"z":"8318cd4d.7ce73","wires":[]},{"id":"7b12a9d2.84ed58","type":"mongodb2 in","service":"_ext_","configNode":"f3d313fc.0c2cf","name":"Add Service","collection":"Running","operation":"insert","x":924,"y":249,"z":"8318cd4d.7ce73","wires":[["e8b31506.174ce8"]]},{"id":"e8b31506.174ce8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":817,"y":380,"z":"8318cd4d.7ce73","wires":[]},{"id":"10c55f42.ef3aa1","type":"mongodb2 in","service":"_ext_","configNode":"f3d313fc.0c2cf","name":"Delete Service","collection":"Running","operation":"deleteOne","x":599,"y":381,"z":"8318cd4d.7ce73","wires":[["e8b31506.174ce8"]]},{"id":"52ab3dee.ad54c4","type":"inject","name":"","topic":"","payload":"{}","payloadType":"string","repeat":"60","crontab":"","once":true,"x":101,"y":440,"z":"8318cd4d.7ce73","wires":[["d5afaa26.2a5058"]]},{"id":"4c177c5a.b3e884","type":"mongodb2 in","service":"_ext_","configNode":"f3d313fc.0c2cf","name":"Each Running","collection":"Running","operation":"find.forEach","x":368.87500762939453,"y":442.2500066757202,"z":"8318cd4d.7ce73","wires":[["b0519810.4fae68"]]},{"id":"12a0c3d9.ed5f3c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":792,"y":421,"z":"8318cd4d.7ce73","wires":[]},{"id":"d5afaa26.2a5058","type":"json","name":"","x":223,"y":441,"z":"8318cd4d.7ce73","wires":[["4c177c5a.b3e884"]]},{"id":"b0519810.4fae68","type":"inspect","name":"","x":517,"y":441,"z":"8318cd4d.7ce73","wires":[["2397be8b.dc6842"]]},{"id":"2397be8b.dc6842","type":"switch","name":"","property":"payload.container","rules":[{"t":"eq","v":"Running"},{"t":"eq","v":"Stopped"}],"checkall":"true","outputs":2,"x":640,"y":442,"z":"8318cd4d.7ce73","wires":[["12a0c3d9.ed5f3c"],["32c2ea56.cd3d16"]]},{"id":"c564acca.3a9b5","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1056,"y":473,"z":"8318cd4d.7ce73","wires":[]},{"id":"32c2ea56.cd3d16","type":"start","name":"","x":776,"y":457,"z":"8318cd4d.7ce73","wires":[["11aadebe.ee5521"]]},{"id":"11aadebe.ee5521","type":"interfaces","name":"","x":905,"y":457,"z":"8318cd4d.7ce73","wires":[["c564acca.3a9b5","73bcc89b.8c4338"]]},{"id":"2103c01e.defc4","type":"function","name":"","func":"msg.payload.action=\"deactivateContainer\";\nmsg.payload.timestamp=new Date();\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":267,"z":"8318cd4d.7ce73","wires":[["62629f4.f9d9d6"]]},{"id":"62629f4.f9d9d6","type":"mongodb2 in","service":"_ext_","configNode":"f3d313fc.0c2cf","name":"Add Log","collection":"Log","operation":"insert","x":1146,"y":348,"z":"8318cd4d.7ce73","wires":[["9b00b352.64ff5"]]},{"id":"1169e174.ee961f","type":"function","name":"","func":"msg.payload.action=\"startContainer\";\nmsg.payload.timestamp=new Date();\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":142,"z":"8318cd4d.7ce73","wires":[["62629f4.f9d9d6"]]},{"id":"32cfd03e.cd303","type":"function","name":"","func":"msg.payload.action=\"createContainer\";\nmsg.payload.timestamp=new Date();\nreturn msg;","outputs":1,"noerr":0,"x":988,"y":191,"z":"8318cd4d.7ce73","wires":[["62629f4.f9d9d6"]]},{"id":"73bcc89b.8c4338","type":"function","name":"","func":"msg.payload.action=\"restartedContainer\";\nmsg.payload.timestamp=new Date();\nreturn msg;","outputs":1,"noerr":0,"x":1041,"y":436,"z":"8318cd4d.7ce73","wires":[["62629f4.f9d9d6"]]},{"id":"30c2ed0b.cf3d12","type":"http in","name":"","url":"/ServiceLogs","method":"get","swaggerDoc":"","x":109,"y":478,"z":"8318cd4d.7ce73","wires":[["1f33daac.e0cc25"]]},{"id":"1f33daac.e0cc25","type":"function","name":"","func":"var Query={$query:{},$orderby:{timestamp:-1}};\nmsg.payload=Query;\nreturn msg;","outputs":1,"noerr":0,"x":257.00000381469727,"y":478.62500762939453,"z":"8318cd4d.7ce73","wires":[["6754f643.98ab08"]]},{"id":"6754f643.98ab08","type":"mongodb2 in","service":"_ext_","configNode":"f3d313fc.0c2cf","name":"Service Log","collection":"Log","operation":"find.toArray","x":391.00000762939453,"y":483.62500762939453,"z":"8318cd4d.7ce73","wires":[["66ad2cd5.9952d4"]]},{"id":"66ad2cd5.9952d4","type":"http response","name":"","x":529,"y":478,"z":"8318cd4d.7ce73","wires":[]}]
